@import "../../../css/variables.scss";

.relay {
  align-items: flex-start;
  flex-direction: column;
  height: auto;
}

.relay__state-set {
  margin-top: $metricHeaderMarginBottom;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.relay__state-set > .selector-button {
  &:not(:first-child) {
    margin-left: 10px;
  }

  padding-left: 0;
  padding-right: 0;
}
